*{
  border: 1px solid pink !important;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    margin: 100px;
    max-width: 960px;
    float: right;
    background-color: #F2F2F2;
}
.legend {
    width: 70px;
    height: 356px;
    margin: 125px 50px 0 -130px;
    position: absolute;
}

.titleBackground {
    background-color: #33BEBE;
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

.descriptionText {
    background-color: #7C8B88;
    width: 70px;
    height: 70px;
    margin-top: 12px;
    padding: 0;
}

.legendText {
    width: 75px;
    margin-top: 40px;
    color: #424242;
    font-weight: bold;
    font-size: 1.35em;
    font-family: Arial;
}

.appTitle {
    margin: 0;
    padding: 35px 0 8px 20px;
    background-color: #33BEBE;
    color: white;
    font-family: Arial;
    font-weight:lighter;
    font-size: 4.35em;
}

.appBody {
    margin-top: 30px;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
}

.bokehPic {
    padding: 0px;
    margin: 0px;
    max-width: 460px;
    border: 1px solid white;
}

.description {
    padding: 0 5px 0 25px;
    max-width: 705px;
    font-size: 1.5em;
    color: #7C8B88;
    font-size: 1.85em;
    font-family: Arial, Helvetica, sans-serif;
}
